h1 {
  color: red;
  background-color: blue;
}

p {
  color: rgb(255, 0, 255);
}

h2 {
  color: rgb(237, 253, 7);
  background-color: salmon;
}

a {
  color: #391914;
  background-color: #7E7593;
}

#p2 {
  color: antiquewhite;
}

#p3 {
  color: #3E9F85;
}

#p4 {
  color: #41354D;
}

#p5 {
  color: rgb(123, 255, 0);
}
.text-green {
  color: white;
  background-color: green;
}
.text-blue {
  color: rgb(0, 0, 0);
  background-color: rgb(65, 240, 225);
}