h1 {
  color: red;
  background-color: blue;
}

p {
  color: rgb(255, 0, 255);
  background-color: #C19648;
}

h2 {
  color: rgb(rgb(253, 7, 7), green, blue);
  background-color: salmon;
}

a {
  color: #391914;
  background-color: #7E7593;
}

#p2 {
  color: antiquewhite;
  background-color: #5D6A64;
}

#p3 {
  color: #3E9F85;
  background-color: #A6A998;
}

#p4 {
  color: #41354D;
  background-color: #C19648;
}

#p5 {
  color: (rgb(123, 255, 0);
  background-color: rgb(173, 63, 29);
}